# 自动安装缺失的对等依赖（peerDependencies）
auto-install-peers=true
# 严格使用本地workspace包，不会拉远程
dedupe-workspace-packages=true
# 锁定pnpm版本
engine-strict=true
# 虚拟存储目录统一
store-dir=.pnpm-store
# 设置 pnpm 包源
registry=https://registry.npmmirror.com
# 设置拉取依赖包超时时间（毫秒）
fetch-timeout=180000
# 设置重试次数
fetch-retries=5
